/****************************************
*   style for http://jackenneking.com   *
*    copyright 2016 by Jack Enneking    *
****************************************/

html, body {
    background-color: #f0f0f0;
    color: #333;
}

header {
    margin: 20px 0px;
    font-size: 36px;
    font-family: Vollkorn, serif;
}

h1 {
    margin: 0px;
    padding: 0px 20px;
}

div.main {
    width: 100%;
    margin: 0 auto;
}

div.form {
    max-width: 600px;
    margin: 20px;
    font-family: "Source Code Pro", "Courier New", monospace;
}

form {
    width: 100%;
}

p.form-title {
    margin: 20px 0px;
    font-size: 20px;
}

label {
    display: none;
    margin: 20px 0px 5px;
    font-size: 20px;
}

.form-element {
    display: block;
    box-sizing: border-box; /* compute all their sizes the same way */
    width: 100%;
    margin: 20px 0px;
    border: none;
    border-left: 3px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    padding: 8px 5px;
    background-color: #e0e0e0;
    color: #333;
    font-size: 20px;
    font-family: inherit;
    transition: border-left      300ms,
                background-color 300ms,
                color            300ms;
}

::-webkit-input-placeholder { color: #a9a9a9; }
::-moz-placeholder          { color: #a9a9a9; opacity: 1; }
:-ms-input-placeholder      { color: #a9a9a9; }

form textarea {
    height: 200px;
}

.form-element:focus,
.form-element:focus.filled:valid,
.form-element:focus.filled:invalid {
    border-left: 3px solid #e0e0e0;
    background-color: transparent;
    color: #333;
}

.form-element.filled:valid {
    border-left: 3px solid transparent;
    background-color: transparent;
}

.form-element.filled:invalid {
    border-left: 3px solid transparent;
    background-color: #fcc;
    color: #900;
}

button.form-element {
    width: 100%;
    border: 3px solid #e0e0e0;
    padding: 20px 0px;
    color: #a9a9a9;
    font-size: 22px;
    font-family: inherit;
}

::-moz-focus-inner {
    border: none;
}

button.form-element:hover,
button.form-element:focus {
    background-color: transparent;
    color: #333;
}

button.form-element:active,
button.form-element:active:focus {
    border: 3px solid transparent;
    background-color: transparent;
    color: #a9a9a9;
    transition: color            100ms,
                background-color 100ms,
                border           100ms;
}
