html, body {
    background-color: #f0f0f0;
    color: #333;
}

.header {
    margin: 20px 0px;
    font-size: 36px;
    font-family: Vollkorn, serif;
}

.title {

}

h1 {
    margin: 0px;
    padding: 0px 20px;
}

.main {
    /*display: flex;*/
    width: 100%;
    margin: 0 auto;
}

.form {
    /*flex: 1;*/
    max-width: 600px;
    margin: 20px;
    font-size: 30px;
    font-family: "Source Code Pro", "Courier New", monospace;
}

.input {

}

.form-title {
    font-size: 20px;
    margin: 20px 0px;
}

.form-element {
    display: block;
    /*height: 40px;*/
    width: 100%;
    margin: 20px 0px;
    border: none;
    border-left: 3px solid #e0e0e0;
    border-radius: 3px;
    padding: 8px 5px;
    background-color: #e0e0e0;
    font-size: 20px;
    color: #333;
    transition: color            300ms,
                background-color 300ms,
                border-left      300ms;
}

::-webkit-input-placeholder {
    color: #a9a9a9;
}
::-moz-placeholder {
    color: #a9a9a9;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #a9a9a9;
}

form input {
    font-size: 30px;
    font-family: inherit;
}

form textarea {
    height: 200px;
    font-family: inherit;
}

.form-element:focus,
.form-element.filled:valid:focus,
.form-element.filled:invalid:focus {
    /*border-left: 3px solid #e0e0e0;*/
    background-color: transparent;
    color: #333;
    border-left: 3px solid #e0e0e0;
    outline: none;
}

.form-element.filled:valid {
    background-color: transparent;
    border-left: 3px solid transparent;
}

.form-element.filled:invalid {
    color: #900;
    background-color: #fcc;
    border-left: 3px solid transparent;
}

.button {
    /*height: 100%;*/
    /*width: 100%;*/
}

button.form-element {
    height: 100%;
    border: 3px solid #e0e0e0;
    padding: 20px 5px;
    /*background-color: transparent;*/
    background-color: #purple;
    color: #a9a9a9;
    /*font-size: 24px;*/
    font-family: inherit;
    /*transition: color 500ms;*/
}

button.form-element:hover,
button.form-element:focus {
    /*background-color: transparent;*/
    color: #333;
    outline: none;
}

button.form-element:active,
button.form-element:focus:active {
    background-color: transparent;
    color: #a9a9a9;
    /*border: 3px solid transparent;*/
    outline: none;
    transition: color            0ms,
                background-color 0ms,
                border           0ms;
}
